@charset "utf-8";
.info_table {
	width: 500px;
	margin: 0px auto;
}
.info_table .input_part {
	font-size: 14px;
}
.info_table .input_part p {
	margin-bottom:20px;
}
.info_table .input_part .item{
	width: 90px;
	height:20px;
	float: left;
	text-align:right;
	margin-right:10px;
	padding-top:10px;
}
.info_table .input_part span{
	line-height:40px;
	width:250px;
}
.info_table .input_part .tips{
	padding-left: 100px;
	color:#aaa;
	width: 300px;
}
.info_table .input_part .tips:hover{
	color:#DB2323;
}
.info_table .input_part .txt{
	width: 330px;
	font-size: 14px;
	line-height: 18px;
	padding: 8px;
	border: 2px solid #eee;
}
.info_table .input_part .txt:hover{
	border:2px solid #DB2323;
}
.info_table .input_part .txt:focus{
	/*输入框聚焦时边缘变色需要先去除浏览器自身效果*/
	outline:none;
	border:2px solid #DB2323;
}
.info_table .btn_part {
	padding-top: 10px;
	height: 50px;
	width: 500px;
	text-align: center;
}
.info_table .btn_part .btn {
	font-size: 16px;
	width: 100px;
	height: 40px;
	margin:0 5px;
	border: 0px;
}
.btn.btn_backhome{
	background-color:#1BA1FF;
	color:#FFF;
}
.btn.btn_backhome:hover{
	background-color:#0075C4;
}
.btn.btn_submit{
	background-color:#DB2323;
	color:#FFF;
}
.btn.btn_submit:hover{
	background-color:#B01C1C;
}
.btn.btn_reset{
	background-color:#7FD052;
	color:#FFF;
}
.btn.btn_reset:hover{
	background-color:#4A8E26;
}
.info_table .input_part .item_checksum .txt_check {
	width: 150px;
	float: left;
	margin-right: 14px;
}
/*基本信息，密码修改共用css*/